player-connection-mode=Listen
player-connection-guid=370456695
player-connection-debug=0
player-connection-project-name=Network1
player-connection-ip=192.168.25.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d7a50b46dab647d39fa9d62b75613988
